.pokemon-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 24px;
}

.pokemon-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}